* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seatsContainer {
  width: 60%;
  min-height: 50vh;
  margin: 0 auto;
}

.rowContainer {
  height: 30px;
  margin: 5px 20px;
  display: flex;
  justify-content: space-around;
  width: auto;
  user-select: none;
}

.rowContainer:nth-child(n + 9):nth-child(-n + 14) {
  width: 90%;
  margin: 5px auto;
}
.rowContainer:nth-last-child(-n + 3) {
  width: 80% !important;
  margin: 5px auto;
}
.rowContainer:nth-last-child(-n + 2) {
  width: 60% !important;
}
.rowContainer:last-child {
  width: 50% !important;
  margin: 5px auto;
}
.columnRowNumber {
  margin-right: 20px;
  font-size: 10px;
  align-items: center;
  display: flex;
}
.rows {
  background-color: white;
  height: auto;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 10px;
  border: 1px solid pink;
  cursor: pointer;
}

.setHighlighted {
  background-color: rgb(211, 211, 211);
}
.showFeature {
  padding: 12px 20px;
}

.rows:hover {
  background-color: rgba(255, 192, 203, 0.617);
  color: white;
  transition: 0.2s ease-out;
}
.setSelected {
  background-color: pink;
}
.setEmpty {
  border: 1px solid pink;
}

.booked {
  pointer-events: none;
  border: gray;
  color: white;
  background-color: gray;
}

.screenImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  height: 13vh;
}

.buttons button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 20px;
  border: 1px solid pink;
  margin-right: 20px;
  transition: 0.5s ease;
}
.buttons {
  min-width: 20%;
  transition: 0.5s ease;
}

.buttons button:hover {
  background-color: rgb(0, 149, 255);
  color: white;
  border: 1px solid white;
}

.confimContainer {
  position: absolute;
  background-color: rgb(107, 132, 174);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 20%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  border-radius: 12px;
}

.buttons2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.buttons2 div {
  padding: 12px 30px;
  border-radius: 12px;
  border: 1px solid black;
  margin-right: 20px;
  cursor: pointer;
}

.buttons2 div:nth-child(1):hover {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  color: white;
}
.buttons2 div:last-child:hover {
  background-color: rgb(255, 110, 110);
  border: 1px solid rgb(255, 110, 110);
  color: white;
}
